# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=eequ_recruit

# App Configuration
PORT=3000
NODE_ENV=development

# Authentication
JWT_SECRET=supersecretkey123

